
.sorter {
    min-height: 150px;
    padding: 4px;
    border-style: groove;
}
div.sorter.row {
    margin-left: 0;
}

.editBucket {
    transition: border-color 0.1s, background-color 0.1s;
    .main-thumbnail {
        height:200px;
        width:200px;
        border: solid 1px grey;
        img {
            max-height: 240px;
            max-width: 240px;
            height: auto;
            width: auto;
        }

    }
    padding: 1em;
    margin: 1em;
    color: grey;
    font-size: 24px;
    .imgs {
        padding: 1em;
    }
    .error {
        color: red;
    }
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.sortable {
    margin: 4px;
}

.dragging {
    opacity: 0.3;
}

.bucketImage {
    transition: border-color 0.1s, background-color 0.1s;
    width: 175px;
    height: 150px;
    padding: 2px;
    background-color: #ccc;
    border: 2px solid #aaa;
    cursor: move;

    input:not([type=checkbox]) {
        width:164px;
        margin-left: auto;
        margin-right: auto;
    }
    textarea {
        width: 162px;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
        max-height: 65px;
    }

    .img-delete {
        padding: 2px;
        margin: 0;
        border: #a44 solid 2px;
        text-decoration: none;
        font-size: 16px;
        color:#b55;
        font-weight: bold;
        margin-right: 1em;
        background-color: #aaa;
    }
    button {
        margin-left: 1em;
    }
    .img-enable {
        padding: 4px;
        margin: 0;
        margin-left: 1em;
        margin-top:-0.5em;
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }


}

.uploadbox {
    border-style: dashed;
    border-width: thick;
    border-color: grey;
    padding: 16px;
    min-width: 100px;
    min-height: 100px;
    width: 400px;
    font-size: 24px;
    text-align: center;
    color: grey;
    cursor:default;
    &.error {
        color: red;
        border-color: red;
        border-style: solid;
    }

    .fyi {
       font-size: 16px;
       color: red;
   }

   &.hover {
       border-color: green;
       background: #dfd;
       color:green;
   }

}
